<div class="navbar" [ngClass]="{'listing-page': showSearchBar}">
    <div class="logo">
        <span><a [routerLink]="['/']" routerLinkActive="router-link-active" >Eshop Spot</a></span>
    </div>
    <div class="search-bar" *ngIf="showSearchBar">
        <span><input type="text" placeholder="Search by Product name, Brand" (input)="onSearch($event)"></span>
    </div>
    <div class="user-profile-img profile" id="user-profile">
        <span id="profileImg">JK</span>
    </div>
    <div class="login-btn">
        <!-- <button type="button" class="btn" id="login">Login</button> -->
        <a class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
    </div>
</div>
