<div class="navbar" [ngClass]="{'listing-page': showSearchBar}">
    <div class="logo">
        <span><a [routerLink]="['/']" routerLinkActive="router-link-active" >Eshop Spot</a></span>
    </div>
    <div class="search-bar" *ngIf="showSearchBar">
        <span><input type="text" placeholder="Search by Product name, Brand" (input)="onSearch($event)" value="{{searchValue}}"></span>
    </div>
    <div [class]="userProfile" id="user-profile">
        <span id="profileImg">{{ userName }}</span>
    </div>
    <div class="login-btn">
        <a class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="loginBtn()">{{ LoginText }}</a>
    </div>
</div>
