
<div class="login">
    <main>

        <h2>LOG IN FORM</h2>
            <form role="form" onsubmit="signIn(event);" autocomplete="off">
                <!-- Inputs -->
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" id="pwd" placeholder="Password" required>
                </div>
                <!-- Submit button -->
                <div class="form-group">
                    <button type="submit" (click)="signIn($event)">Sign In</button>
                </div>
            </form>
            <!-- signup link -->
            <p>Don't have an account? <a routerLink="/signup">Sign Up</a> here</p>
    </main>
</div>
  
    



